<a href="https://colab.research.google.com/github/arthur-tuko/PA_Python/blob/main/Aula_PA_1C/Exerc%C3%ADciosDeTuplas%2CStringsEListas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# Exercício 1 inserir os seus dados acima em variáveis
#Exemplo
nome = "Arthur Franco"
Turma = "Manhã"

In [6]:
# Exercício 2 -Apos inserir dados acima usando o slicing (exemplo no notebook de manipulação de Strings), imprima na tela apenas seu sobrenome
nome[7:]

'Franco'

In [8]:
# Exercício 3 -  imprima seu nome de trás pra frente
nome[::-1]

'ocnarF ruhtrA'

In [74]:
# Exercício 4 - pegue a frase abaixo, aplique o split para fazer uma quebra toda vez que encontrar uma ","
frase = "Python é a linguagem ideal para o primeiro contato com programação, além da sua sintaxe simples e muito poderosa, Python tem diversas aplicações como: desenvolvimento web, análise de dados, inteligência artificial e automatização de tarefas, neste curso você aprenderá a lógica de programação para conquistar fluência na linguagem, a comunidade Python é a que mais cresce, assim como sua demanda de profissionais no mercado."
frase.split()

['Python',
 'é',
 'a',
 'linguagem',
 'ideal',
 'para',
 'o',
 'primeiro',
 'contato',
 'com',
 'programação,',
 'além',
 'da',
 'sua',
 'sintaxe',
 'simples',
 'e',
 'muito',
 'poderosa,',
 'Python',
 'tem',
 'diversas',
 'aplicações',
 'como:',
 'desenvolvimento',
 'web,',
 'análise',
 'de',
 'dados,',
 'inteligência',
 'artificial',
 'e',
 'automatização',
 'de',
 'tarefas,',
 'neste',
 'curso',
 'você',
 'aprenderá',
 'a',
 'lógica',
 'de',
 'programação',
 'para',
 'conquistar',
 'fluência',
 'na',
 'linguagem,',
 'a',
 'comunidade',
 'Python',
 'é',
 'a',
 'que',
 'mais',
 'cresce,',
 'assim',
 'como',
 'sua',
 'demanda',
 'de',
 'profissionais',
 'no',
 'mercado.']

In [21]:
# Exercício 5 -Imprima na tela os números de 1 a 10. Use uma lista para armazenar os números.
for i in range(1, 11):
 print(i)

 num = i

1
2
3
4
5
6
7
8
9
10

In [76]:
# Exercício 6 - Crie uma lista de 5 objetos e imprima na tela
objetos = ["borracha", "caneta", "lapis", "lapiseira", "apontador"]
print(objetos)

['borracha', 'caneta', 'lapis', 'lapiseira', 'apontador']

In [26]:
# Exercício 7 - - Crie duas strings e concatene as duas em uma terceira string
banana1 = str(input("Digite a primeira fruta: "))
banana2 = str(input("Digite a segunda fruta: "))

print(banana1, banana2)

Digite a primeira fruta: banana
Digite a segunda fruta: maça
banana maça

In [78]:
# Exercício 8 - Crie uma tupla com os seguintes elementos: 1, 2, 2, 3, 4, 4, 4, 5 e depois utilize a função count do
# objeto tupla para verificar quantas vezes o número 4 aparece na tupla
num = ("1", "2", "2", "3", "4", "4", "4", "5")
num.count("4")

3

In [80]:
# Exercício 9 - Crie um dicionário vazio e imprima na tela
meudicionario = {



}
print(meudicionario)

{}

In [81]:
# Exercício 10 - Crie um dicionário com 3 chaves e 3 valores e imprima na tela
meudicionario2 = {
"nome" : "Arthur",
"idade": 33,
"nota": [100, 1000, 100000]


}
print(meudicionario2)

{'nome': 'Arthur', 'idade': 33, 'nota': [100, 1000, 100000]}

In [82]:
# Exercício 11 - Adicione mais um elemento ao dicionário criado no exercício anterior e imprima na tela
meudicionario2["numero"] = 40028922
print(meudicionario2)

{'nome': 'Arthur', 'idade': 33, 'nota': [100, 1000, 100000], 'numero': 40028922}

In [ ]:
# Exercício 12 - Crie um dicionário com 3 chaves e 3 valores. Um dos valores deve ser uma lista de 2 elementos numéricos.
# Imprima o dicionário na tela.
meudicionario3 = {
"nome" : "Arthur",
"idade": 33,
"nota": [100, 1000, 100000]

In [83]:
# Exercício 13 - Crie uma lista de 4 elementos. O primeiro elemento deve ser uma string,
# o segundo uma tupla de 2 elementos, o terceiro um dcionário com 2 chaves e 2 valores e
# o quarto elemento um valor do tipo float.
# Imprima a lista na tela.
lista = [
    "banana",
    ("abu1", "abu2"),
    {"dinheiro" : 10000000000000000,"casa" : "Mansão"},

]
print(lista)

['banana', ('abu1', 'abu2'), {'dinheiro': 10000000000000000, 'casa': 'Mansão'}]

In [34]:
# Exercício 14 - Considere a string abaixo. Imprima na tela apenas os caracteres da posição 1 a 18.
frase = 'Cientista de Dados é o profissional mais legal do século XXI'
print(frase[1:18])

*Exercícios de Manipulação de Strings*

In [36]:
# 1 - Use o método len para imprimir o comprimento da string.
x = "Hello World"
print(len(x))

11

In [44]:
# 2 - Obtenha o primeiro caractere da string txt.
txt = "Hello World"
x = txt[:1]
print(x)

H

In [37]:
# 3 - Obtenha os caracteres do índice 2 ao índice 4 ( llo).
txt = "Hello World"
x = txt[2:5]
print(x)

llo

In [38]:
# 4 - Converta o valor de txt para maiúsculas.
txt = "Hello World"
txt.upper()

'HELLO WORLD'

In [45]:
# 5 - Conte quantas vezes aparece a palavra "de" na string abaixo
txt = "Eu gosto de vijar, tomar vinho, de estudar estudar programação, de estudar Pyhon"
txt.count("de")

In [47]:
# 6 - Separe a frase abaixo toda vez que encontrar um vírgula
txt.split()

['Eu',
 'gosto',
 'de',
 'vijar,',
 'tomar',
 'vinho,',
 'de',
 'estudar',
 'estudar',
 'programação,',
 'de',
 'estudar',
 'Pyhon']