<a href="https://colab.research.google.com/github/arthur-tuko/PA_Python/blob/main/Aula_PA_1C/Exerc%C3%ADciosDeTuplas%2CStringsEListas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# Exercício 1 inserir os seus dados acima em variáveis
#Exemplo
nome = "Arthur Franco"
Turma = "Manhã"

In [6]:
nome[7:]

'Franco'

In [8]:
nome[::-1]

'ocnarF ruhtrA'

In [9]:
frase = "Python é a linguagem ideal para o primeiro contato com programação, além da sua sintaxe simples e muito poderosa, Python tem diversas aplicações como: desenvolvimento web, análise de dados, inteligência artificial e automatização de tarefas, neste curso você aprenderá a lógica de programação para conquistar fluência na linguagem, a comunidade Python é a que mais cresce, assim como sua demanda de profissionais no mercado."

In [11]:
frase.split()

['Python',
 'é',
 'a',
 'linguagem',
 'ideal',
 'para',
 'o',
 'primeiro',
 'contato',
 'com',
 'programação,',
 'além',
 'da',
 'sua',
 'sintaxe',
 'simples',
 'e',
 'muito',
 'poderosa,',
 'Python',
 'tem',
 'diversas',
 'aplicações',
 'como:',
 'desenvolvimento',
 'web,',
 'análise',
 'de',
 'dados,',
 'inteligência',
 'artificial',
 'e',
 'automatização',
 'de',
 'tarefas,',
 'neste',
 'curso',
 'você',
 'aprenderá',
 'a',
 'lógica',
 'de',
 'programação',
 'para',
 'conquistar',
 'fluência',
 'na',
 'linguagem,',
 'a',
 'comunidade',
 'Python',
 'é',
 'a',
 'que',
 'mais',
 'cresce,',
 'assim',
 'como',
 'sua',
 'demanda',
 'de',
 'profissionais',
 'no',
 'mercado.']

In [21]:
for i in range(1, 11):
 print(i)

 num = i

1
2
3
4
5
6
7
8
9
10

In [23]:
objetos = ["borracha", "caneta", "lapis", "lapiseira", "apontador"]

In [24]:
print(objetos)

['borracha', 'caneta', 'lapis', 'lapiseira', 'apontador']

In [26]:
banana1 = str(input("Digite a primeira fruta: "))
banana2 = str(input("Digite a segunda fruta: "))

print(banana1, banana2)

Digite a primeira fruta: banana
Digite a segunda fruta: maça
banana maça

In [28]:
num = ("1", "2", "2", "3", "4", "4", "4", "5")

In [30]:
num.count("4")

3

In [34]:
frase = 'Cientista de Dados é o profissional mais legal do século XXI'

In [35]:
print(frase[1:18])

Cientista de Dados

In [36]:
x = "Hello World"
print(len(x))

11

In [37]:
txt = "Hello World"
x = txt[2:5]
print(x)

llo

In [38]:
txt = "Hello World"
txt.upper()

'HELLO WORLD'

In [44]:
txt = "Hello World"
x = txt[:1]
print(x)

H

In [45]:
txt = "Eu gosto de vijar, tomar vinho, de estudar estudar programação, de estudar Pyhon"

In [46]:
txt.count("de")

3

In [47]:
txt.split()

['Eu',
 'gosto',
 'de',
 'vijar,',
 'tomar',
 'vinho,',
 'de',
 'estudar',
 'estudar',
 'programação,',
 'de',
 'estudar',
 'Pyhon']

In [55]:
meudicionario2 = {
"nome" : "Arthur",
"idade": 33,
"nota": [100, 1000, 100000]


}

In [56]:
print(meudicionario2)

{'nome': 'Arthur', 'idade': 33, 'nota': [100, 1000, 100000]}

In [57]:
meudicionario2["numero"] = 40028922

In [58]:
print(meudicionario2)

{'nome': 'Arthur', 'idade': 33, 'nota': [100, 1000, 100000], 'numero': 40028922}

In [72]:
lista = [
    "banana",
    ("abu1", "abu2"),
    {"dinheiro" : 10000000000000000,"casa" : "Mansão"},
    1.10
]