<a href="https://colab.research.google.com/github/arthur-tuko/PA_Python/blob/main/Aula_PA_1C/Listas_e_tupla.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
armas = ["p90", "m4", "paraFal", "glock", "38", "magnum"]

In [ ]:
armas

['p90', 'm4', 'paraFal', 'glock', '38', 'magnum']

In [ ]:
armas.append ("ak47")

In [ ]:
armas

['p90', 'm4', 'paraFal', 'glock', '38', 'magnum', 'ak47', 'ak47']

In [ ]:
armas.remove ("glock")

In [ ]:
armas

['p90', 'm4', 'paraFal', '38', 'magnum', 'ak47', 'ak47']

In [ ]:
armas.extend (["p10", "p30", "awm", "thompson", "g36", "m11", "mk12"])

In [ ]:
armas

['p90',
 'm4',
 'paraFal',
 '38',
 'magnum',
 'ak47',
 'p10',
 'p30',
 'awm',
 'thompson',
 'g36',
 'm11',
 'mk12']

In [ ]:
import random
a = random.randint(0, 11)
print(armas[a])

ak47

In [ ]:
for i in range(1 ,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
soma = 0
for i in range(1 ,11):
  soma = soma + i
print("Soma:" ,soma)

Soma: 55

In [131]:
n = int(input("Digite um número: "))
for i in range(1 ,11):
 print(f"{n} * {i} = {n*i}")

Digite um número: 77
77 * 1 = 77
77 * 2 = 154
77 * 3 = 231
77 * 4 = 308
77 * 5 = 385
77 * 6 = 462
77 * 7 = 539
77 * 8 = 616
77 * 9 = 693
77 * 10 = 770

In [156]:
for i in range(1 ,21):
  if i %2 == 0:
    print(i)

2
4
6
8
10
12
14
16
18
20

In [161]:
for i in range(0, 21, 2):
  print(i)

0
2
4
6
8
10
12
14
16
18
20

In [187]:
for i in range(10, -1, -1):
  print(i)

10
9
8
7
6
5
4
3
2
1
0

In [199]:
soma =0
num = int(input("Digite um número (0 para sair):  "))
while num != 0:
 soma += num
 num = int(input("Digite outro número (0 para sair):  "))
print("Soma: ", soma)

Digite um número (0 para sair):  12
Digite outro número (0 para sair):  4
Digite outro número (0 para sair):  4
Digite outro número (0 para sair):  6
Digite outro número (0 para sair):  5
Digite outro número (0 para sair):  6
Digite outro número (0 para sair):  4
Digite outro número (0 para sair):  4
Digite outro número (0 para sair):  0
Soma:  45

In [207]:
senha = "1234"
senhaDigitada = ""
senhaDigitada = input("Digite a senha: ")
while senhaDigitada != senha:
 senhaDigitada = input("Senha errada, tente novamente: ")
print("Acesso permitido")

Digite a senha: 4321
Senha errada, tente novamente: 1234
Acesso permitido

In [12]:
senha ="1234"
senhaDigitada = ""
tentativa = 0
while True:
  senhaDigitada = input("Digite sua senha: ")
  if senhaDigitada != "1234":
    tentativa += 1
    print(f"senha incorreta: tente novamente {tentativa}/3")
    if tentativa == 3:
      print("tentativas esgotadas")
      break
  else:
    print("senha correta")
    break

Digite sua senha: 4321
senha incorreta: tente novamente 1/3
Digite sua senha: 4321
senha incorreta: tente novamente 2/3
Digite sua senha: 4321
senha incorreta: tente novamente 3/3
tentativas esgotadas