<a href="https://colab.research.google.com/github/arthur-tuko/PA_Python/blob/main/Aula_PA_1C/SegundoSemestre.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
nome = str(input('Digite seu nome: '))
idade = int(input('Digite sua idade: '))
peso = float(input('Digite seu peso: '))
altura = float(input('Digite sua altura: '))

print('Seu nome é: ', nome)
print('Sua idade é: ', idade)
print('Seu peso é: ', peso)
print('Sua altura é: ', altura)

In [9]:
nota1 = int(input('Digite sua nota: '))
nota2 = int(input('Digite sua nota: '))
nota3 = int(input('Digite sua nota: '))
media = (nota1 + nota2 + nota3) / 3
print('Sua média é: ', media)
if (media >= 7):
    print('Aprovado')
elif (media >=3 and media <=5):
  print('Recuperação')
else:
  print('Reprovado')

Digite sua nota: 10
Digite sua nota: 9
Digite sua nota: 5
Sua média é:  8.0
Aprovado

In [36]:
num = float(input("Digite um numero: "))
if (num <= 10):
  print("Valor aceito")
  for i in range(1, 11):
    print(f"{num} * {i} = {num*i}")

else:
  print("Valor acima do esperado, digie um numero menor que 10")

Digite um numero: 5.6
Valor aceito
5.6 * 1 = 5.6
5.6 * 2 = 11.2
5.6 * 3 = 16.799999999999997
5.6 * 4 = 22.4
5.6 * 5 = 28.0
5.6 * 6 = 33.599999999999994
5.6 * 7 = 39.199999999999996
5.6 * 8 = 44.8
5.6 * 9 = 50.4
5.6 * 10 = 56.0

In [43]:
senha ="4002-8922"
senhaDigitada = ""
tentativa = 0
while True:
  senhaDigitada = input("Digite sua senha: ")
  if senhaDigitada != "4002-8922":
    tentativa += 1
    print(f"senha incorreta: tente novamente {tentativa}/3")
    if tentativa == 3:
      print("tentativas esgotadas")
      break
  else:
    print("senha correta")
    break

Digite sua senha: 4002-8922
senha correta

In [51]:
nome1 = str(input('Digite o seu nome: '))
nome2 = str(input('Digite o seu nome: '))
nome3 = str(input('Digite o seu nome: '))

nomes = [nome1, nome2, nome3]

for nome in nomes:
  print(f"Bem vindo {nome}")

Digite o seu nome: carla
Digite o seu nome: joão
Digite o seu nome: robson
Bem vindo carla
Bem vindo joão
Bem vindo robson

In [53]:
nomes

['carla', 'joão', 'robson']